.greenColor{
    color:green;
}

.blackColor{
    color:black;
}

.testWidth{
    width:50%;
    height: 100px;
 //   vertical-align: middle;
}

.floatLeft{
  float: left;
  height: 60px;
}

.clearBoth{
    clear: both;
}

.borderTest{
    border-style: solid;
    border-width: 2px;
    border-color: black;    
}

.textColor{
    color: white;
}

.noneMargin{
    margin: 0px;
}

.Visible{
    visibility: visible;
}

.Hidden{
    visibility: hidden;    
}

.element{
    height: 20vh; /* For 100% screen height */
    width:  50vw; /* For 100% screen width */
}

div.ext-box { display: table; width:100%;}
div.int-box { display: table-cell; vertical-align: middle; text-align: center;}


@media screen and (min-width: 1025px){
    #shortIssue{
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #longIssue{
        display: none;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    #issueBox{
        display: none;
    }
}

@media screen and (max-width: 424px) {
    #issueBox{
        display: none;
    }
    #iconBox{
        position: relative;
        left: 35vw;
        top: 30%;
//        left:0px;
//        top:40px;
        z-index: 99;
        height: 30%;
        width: 15vw; 
        border-width: 0px;
        padding: 0px;       
        //display: none;
    }
    #timeBox{
        position: absolute;
        width: 50vw;
        z-index: 98;        
        //display: none;
    }       
}

// Tooltip
